#bookmark_url_to
{
	width:100%;
	float:left;
	text-align:left;
}

#bookmark_url_to_text
{
	font-weight:bold;
	font-size:12px;
	float:left;
}

.bookmark_url_to_element
{
	width:100%;
	margin:2px;
	float:left;
}

.bookmark_url_to_element a
{
	text-decoration:none;
	color: #000000;
}

.bookmark_url_to_element a img
{
	border:none
}
